<hr />
<div style="text-align:left">Copyright @Year by @Name</div>

@code {
	[Parameter]
	public string Name { get; set; }
	[Parameter]
	public string Year { get; set; }
	@* private string name = "tomoaki masuda"; *@
}
