@page "/bmicalc"
<h3>Bmi</h3>
<table class="table">
	<tr>
		<td>名前</td>
		<td><input @bind-value="bmi.Name"/></td>
	</tr>
	<tr>
		<td>身長</td>
		<td><input @bind-value="bmi.Height" /></td>
	</tr>
	<tr>
		<td>体重</td>
		<td><input @bind-value="bmi.Weight" /></td>
	</tr>
</table>
<div style="font-size: @fontSize">
	計算結果は @result.ToString("00.0") です。
</div>
<button class="btn btn-primary" @onclick="Calc">計算</button>
@code {

	private string fontSize = "32px";
	private BmiItem bmi = new BmiItem()
	{
		Name = "森泉友登",
		Height = 160.0,
		Weight = 60.0,
	};
	private double result { get; set; }

	private void Calc() {
		this.result = bmi.Bmi;
	}

}
